.container {
  padding: 0px 30px
}

.content-right {

  padding : 25px 25px 20px 25px;
}

.info-question .input input {
  width: 100%
}
.info-question .label {
  font-size: 18px;
  margin-bottom: 10px;
}
.content-right {
  border: 1px solid #E9E9E9;
  margin-top: 20px;
  border-radius: 10px;
}
.btn-container{
  display: flex;
  justify-content: space-between;
}
.btn-search {
  margin-right: 20px;
}
hr {
  color: #f8f9fa;
}

