 <div class="container-login">
    <div class="login-form">
      <form>
        <h2>Login</h2>

        <div class="info-login">
          Username :
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" formControlName="username" pInputText placeholder="Username" class="form-control" name="username" id="username" required>
            <div *ngIf="registerForm.controls['username'].errors?.['required']">
              Name is request
            </div>
          </div>
        </div>

        <div class="info-login">
          Password :
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi-apple"></i></span>
            <input type="password" pInputText placeholder="password ">
          </div>
        </div>

        <div class="password-p ">
          <p>Remember me</p>
          <p>forget password?</p>
        </div>

        <div class="info-login">
          <button pButton type="button" label="Login" class="p-button-info"></button>
        </div>
      </form>


    </div>
 </div>
